* {
    padding: 0;
    margin: 0;
}

#titleText{
    font-family:Microsoft JhengHei;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 1rem;
    display: none;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 425px;
    border: solid 1px #EBEBEB;
    padding: 5rem;
}

#form2{
    margin-top: 1rem;
    display: none;
}

#form3{
    margin-top: 1rem;
    display: none;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

#loginTitle{
    font-size:30px;
    font-weight: bold;
    justify-content: center;
    color: #000000;
}

#adminLoginBtn{
    width: 100px;
    float:right;
}

button {
    margin-top: 2rem;
    margin-left:3px;
}

#addBtn {
    color:#263238
}

.div1 {
    margin-top: 1.5rem;
    display : none;
}

.div2 {
    margin-top: 1.5rem;
    display : block;
}

#date {
    font-family: Arial, Helvetica, sans-serif;
	width:350px;
	margin: 100px auto 0;
    margin-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 21px;
	padding: 35px;
	background-color: #ffffff;
	border-radius: 20px;
	border: 3px solid #000000;
	color: #333333;
	height: 100px;
}
